:root {
  --white: #ffffff;
  --magnolia: #f0ebf8;
  --grape: #673ab7;
  --tekhelet: #4c2b87;
  --onyx: #3c4043;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.onyx {
  color: var(--onyx);
}
.btn{
  cursor: pointer;
  color: #ffffff;
  background-color: var(--grape);
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn:hover{
  box-shadow: 1px 1px 5px rgb(128, 128, 128);
}
.btn:active{
  background-color: var(--tekhelet);
}

/* head-cont styling start */
#head-cont {
  padding: 20px 20px 0;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#acc-cont > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sign-out {
  padding: 2px 8px;
}
#email {
  margin: 12px 0;
  font-size: medium;
  text-align: center;
}
#tab-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.tab-btn {
  border: none;
  background-color: inherit;
  color: var(--onyx);
  padding: 5px;
  cursor: pointer;
  border-bottom: 3px solid var(--white);
}
#tab-box .active-tab {
  color: var(--tekhelet);
  font-weight: 500;
  border-bottom: 3px solid var(--tekhelet);
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}
/* head-cont styling end */

/* content-box styling start */
#content-box {
  height: 0px;
  padding: 25px;
  background-color: var(--magnolia);
  flex: 1 1 auto;
  overflow: hidden auto;
}
#content-box::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
#content-box::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#content-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(104, 58, 183, 0.75);
}
.content {
  display: none;
  animation: moving_tab 0.5s ease;
  -webkit-animation: moving_tab 0.5s ease;
}
@keyframes moving_tab {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}
#content-box .active-tab {
  display: block;
}
/* defaults-tab styling start */
#default-tab{
  height: 100%;
}
#default-tab > div{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}
#default-tab .options-cont{
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}
#default-tab fieldset{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#default-tab .options{
  padding: 10px;
}
#default-tab input{
  accent-color: var(--grape);
}
#save-defaults{
  align-self: flex-end;
  margin-right: 8px;
  padding: 5px 12px;
}
/* defaults-tab styling end */
/* content-box styling end */
